@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gift Exchanger App</h1>
    <h3>Features:</h3>
    <p>Every user recieves 100 credits upon registration. User can transfer credits to other users and recieve credits by them. </p>
</div>
